# Pandas Practice - Part 1

Use this notebook to follow along wit the tasks in the `AO3-Pandas_Part1.ipynb` notebook.

#### Task 1.1: Setup

Import `pandas` as `pd`.

In [1]:
import numpy as np
import pandas as pd

#### Task 2a Create a `pd.Series` object
Use the practice notebook to create a series of your own design.

In [7]:
# Create the series object.
my_series = pd.Series([1, 3, 5, np.nan, 6, 1.3, 7, np.nan])

In [8]:
# Call the object in the notebook.
# This (mostly) calls the __repr__() function of a given object.
my_series

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    1.3
6    7.0
7    NaN
dtype: float64

#### Task 2b: Create a pd.DataFrame object from a Python dictionary

In [9]:
df_1 = pd.DataFrame(
    {'ID': [0, 1, 2, 3, 4],
     'species': ['wwg', 'tkh', 'kbg', 'tf', 'hf']})

In [10]:
# Call the object in the notebook.
# This time we get a html output, as the notebook shell
# sees a _repr_html_() function to call.
df_1

   ID species
0   0     wwg
1   1     tkh
2   2     kbg
3   3      tf
4   4      hf

#### Task 2c: Supply indexes and columns when creating a pd.DataFrame object.

In [11]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.963123 -0.555727  0.435595  0.085696
2013-01-02 -0.162755  0.273385  1.040597 -0.254386
2013-01-03  0.594214 -0.912457  0.171885 -1.627746
2013-01-04 -0.864655 -0.830037  0.126570  1.124020
2013-01-05 -1.144319 -1.081073 -0.534984  0.612018
2013-01-06 -0.033497 -0.495911  1.040433 -1.163965

#### Task 3a: Download the iris.csv file.
Download the iris data and take a moment to learn about this data from the Wikipedia page cited above

#### Task 3b: Import the iris.csv file
In your own practice notebook, import the iris dataset.

In [13]:
iris_df = pd.read_csv('data/iris.csv')

#### Task 3c: Import a tab delimited file
Take a look at the `pd.read_csv` online documentation. Describe how you would import a tab-delimited file.

In [14]:
# with this code ("SN7577.tab", sep='\t') the sep ='\t' sets it to tab

#### Task 4a: Use head, tail and sample with the iris data frame.

In [15]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
iris_df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [17]:
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [18]:
iris_df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
61            5.9          3.0           4.2          1.5  versicolor
80            5.5          2.4           3.8          1.1  versicolor
112           6.8          3.0           5.5          2.1   virginica
6             4.6          3.4           1.4          0.3      setosa
110           6.5          3.2           5.1          2.0   virginica
109           7.2          3.6           6.1          2.5   virginica
9             4.9          3.1           1.5          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
91            6.1          3.0           4.6          1.4  versicolor
49            5.0          3.3           1.4          0.2      setosa

#### Task 5a: Display the columns and indexes of the iris data frame.

In [19]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [20]:
iris_df.index

RangeIndex(start=0, stop=150, step=1)

#### Task 5b: Check the version of `pandas` you have, then convert a data frame to a numpy array.

In [21]:
pd.__version__

'0.23.4'

In [27]:
iris_df.values = df.values

C:\Users\Johann\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

AttributeError: can't set attribute

#### Task 5c: Make selections with `loc`

+ Select a single item with `at`.
+ Select a row slice with `loc`.
+ Select a row and column slice with `loc`.

In [28]:
iris_df.loc[4:6, 'sepal_width': 'petal_width']

   sepal_width  petal_length  petal_width
4          3.6           1.4          0.2
5          3.9           1.7          0.4
6          3.4           1.4          0.3

In [29]:
iris_df.loc[2:7]

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa

In [32]:
iris_df.at[2,"sepal_length"]

4.7

#### Task 5d: Make selections with `iloc` and `iat`.

+ Select a single item with `iat`.
+ Select a row slice with `iloc`.
+ Select a row and column slice with `iloc`.

In [33]:
iris_df.iloc[25:35, :-1]

    sepal_length  sepal_width  petal_length  petal_width
25           5.0          3.0           1.6          0.2
26           5.0          3.4           1.6          0.4
27           5.2          3.5           1.5          0.2
28           5.2          3.4           1.4          0.2
29           4.7          3.2           1.6          0.2
30           4.8          3.1           1.6          0.2
31           5.4          3.4           1.5          0.4
32           5.2          4.1           1.5          0.1
33           5.5          4.2           1.4          0.2
34           4.9          3.1           1.5          0.1

In [34]:
iris_df.iloc[12:21]

    sepal_length  sepal_width  petal_length  petal_width species
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [35]:
iris_df.iat[2:3, :-1]

ValueError: iAt based indexing can only have integer indexers

#### Task 5e: Boolean Indexing

Create subsets using boolean indexes that:
+ Use one boolean operator.
+ Use two boolean operators.

In [36]:
iris_df[iris_df['sepal_length'] > 3].head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [40]:
iris_df[iris_df['sepal_length'] > 5.8 | iris_df['sepal_length'] < 10].head()

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]